header img{
	width: 120px;
}
header{
	padding: 40px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.navbar-default .navbar-toggle {
	border-color: white;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: white;
	border-color: #065656;
}
.navbar-default .navbar-toggle:hover{
	background-color: white;
	
}
.navbar-default .navbar-toggle:hover .icon-bar {
    background-color:  #065656;
}
.navbar {
	width: 100%;
	border: none;
	overflow: hidden;
	background-color: #065656;
/*   
  animation-name: example;
	animation-duration: 1s; */
	animation-name: shutter-in-top;
animation-duration: 1s;
animation-timing-function: ease;
animation-delay: 0s;
animation-iteration-count: 1;
animation-direction: normal;
animation-fill-mode: none;
}
@keyframes shutter-in-top {
0%{
  -webkit-transform: rotateX(-100deg);
  transform: rotateX(-100deg);
  -webkit-transform-origin: top;
  transform-origin: top;
  opacity: 0;
}
100%{
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: top;
  transform-origin: top;
  opacity: 1;
}

  }
  
  /* @keyframes example {
	from {background-color: #065656;}
	to {background-color: snow;}
  } */
  .navbar .navbar-right{
	  margin: 0 0 0 0;
  }
  .navbar a {
	margin-left: 20px;
	margin-top: 17px;
	  text-align: center;
	text-decoration: none;
	font-size: 17px;
	font-weight: bold;
  color: white;
  font-size: 20px;
  animation-name: anim2;
	animation-duration: 1s;
  }
  @keyframes anim2 {
	  from {color: white;}
	  to {color: #065656;}
	}
.navbar ul a:hover {
  background-color: white;
  color:darkcyan;
  border-radius: 20px; 
  padding: 5px;
} 
.navbar ul{
	float: right;
	position: relative;
	padding-right: 60px;
	padding-top: 25px;
}


@media (max-width: 1000px) and (min-width:768px) {
.navbar a{
	font-size: 17px;
	margin-top: 20px;
	margin-left: 5px;
}
.navbar ul{
	padding-right: 10px;
}
}

@media (max-width: 770px) {	
.navbar ul{
	float: none;
	padding-right: 0;
	padding: 0 0 0 0;
	margin: 0 0 0;
}
.navbar{
	height: auto;
}
.navbar a{
	margin-left: 0;
	float: none;
	width: 100%;
	display: block;
    text-align: center;

	}
.navbar a img{
	align-content: center;
}
.header ul a{
    float: none;
    display: block;
    text-align: center;
    padding-bottom: 10px;

  }
 html, body {
	overflow-x: hidden;
  }
 body {
	width:100%;
  }
}

/*header end*/





/* foooter*/

.panel-footer{
	background: darkcyan;
	
	color: white;
	opacity: 0.7;
	font-size: 14px;
	margin-top: 0px;
}


#social i{
	color: white;
	padding-right: 15px;
	font-size: 18px;
	padding-top: 10px;
}
#social a{
color: white;
font-size: 20px;
font-family: 'Itim', cursive;
}
#love i{
	color: red;
	
}

#company {
	position: relative;
	left: 20px;
	padding-top: 22px;

}
#company p{
font-family: 'Itim', cursive;
	padding-left: 20px;
	font-size: 15px;
}
#company img{
  height: 150px;
}
.row span{
	font-size: 20px;
	font-weight: bold;
	font-family: 'Fredoka One', cursive;
color: white;
text-decoration: underline;

}
#content{
   padding-top: 40px;
   color: white;
   padding-left: 50px;

}
#social{
padding-top: 40px;
padding-left: 50px;
}
#info{
padding-top: 40px;
padding-left: 30px;
font-family: 'Itim', cursive;
}
#content a{
	color:white;
	font-weight: bold;
	font-size: 15px;
	font-family: 'Itim', cursive;

	}
	
#info i, #content i{
	color:white;
	font-weight: bold;
	font-size: 20px;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-top: 10px;


}
/* foot end */

#about{
	background-image: url('images2/back11.jpg');
	background-repeat: no-repeat;
    background-size: cover;
	position: relative;
	bottom: 20px;
}
#about h3{
	font-size: 60px;
	font-family: 'Itim', cursive;
	padding-top: 10px;
	color: #505050;
}
#general p{
	padding-top: 50px;
	color: 	#707070;
	padding-bottom: 20px;

}
 #mission p, #vision p{
	color: 	#707070;
	padding-bottom: 20px;
}
 #mission h2, #vision h2{
 	font-family: 'Cairo', sans-serif;
 }
#mission h4{
color: LightSeaGreen;
}

#vision i{
padding:5px;
color: darkcyan;

}



/* Why class */


.edit{
	font-weight: bold;
	

}
.pic{
	/*width: 50%; */
	float:left;
	padding-top: 40px;
	padding-bottom: 40px;


}
.pic img{
	border-radius: 200px;
	transition: transform 2s;
}
.pic img:hover {
	transform: rotate(360deg);
  }
.text{
	/*width:50%; */
	float: right;
	padding-top: 60px;
	padding-bottom: 30px;
}
.why h1{
	color: DarkSlateGrey;
	font-weight: bold;
	padding-bottom: 10px;
}
.text i{
	padding-right:4px;
	color: indianred;

}

/* why ends */
.home2{
	background-image: url('images2/back14.jpg');
	/*background: #F8F8F8; */
	background-repeat: no-repeat;
	background-size: cover;
	/*position: relative;
	bottom: 20px; */
	border-top: 20px ridge darkcyan;
	border-bottom: 20px groove darkcyan;
}

/*map */
.heading p{
	color: 	#707070;
}
.map{
	
	/*width: 50%; */
	float: right;
}
.map img{
	width: 100%;
	animation-name: puff-in-horizontal;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-delay: 8s;
  animation-iteration-count: 1;
  
}
@keyframes puff-in-horizontal {
  0%{
    -webkit-transform: scaleX(2);
    transform: scaleX(2);
    filter: blur(4px);
    opacity: 0;
  }
  100%{
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    filter: blur(0);
    opacity: 1;
  }

}
.heading{
	/*width: 50%; */
	text-align: center;
	float: left;
	padding-top: 100px;
	padding-bottom: 100px;
	height: auto;
	
}
.heading h2{

	padding-top: 20px;
	font-size:50px;
	color: saddlebrown;
	font-weight: bold;
	text-align: center;
	font-family: 'Acme', sans-serif;
}

/*map ends */

body{
	background: url(https://image.freepik.com/free-photo/dark-blue-plain-wall-background_53876-92976.jpg);
}

.sub{
	background: #F0F0F0;
}

.team{
	background: #F0F0F0;
	padding-bottom: 20px;
	padding-top: 20px;
	position: relative;
	bottom: 20px;
	
}

.service-box {
  position: relative;
  width: 100%;
}

.service-box img {
  border-radius: 0px;
  width: 100%;
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.2);
  border-top-left-radius: 10px;
border-top-right-radius: 10px;
}
 .intro{
padding-top: 2px;
text-align: center;
background: white;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;


}
.intro h4{
font-weight: bold;
}
.intro p{
font-weight: bold;
color: grey;
position: relative;
bottom: 5px;
}
.tabs li{
	padding: 10px;
	
}

.tabs li a{
	background: darkcyan;
	color: white;
	font-weight: bold;

}
