header img{
	width: 120px;
}
header{
	padding: 40px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.navbar-default .navbar-toggle {
	border-color: white;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: white;
	border-color: #065656;
}
.navbar-default .navbar-toggle:hover{
	background-color: white;
	
}
.navbar-default .navbar-toggle:hover .icon-bar {
    background-color:  #065656;
}

.navbar {
  width: 100%;
  border: none;
  overflow: hidden;
  background-color: #065656;
  animation-name: shutter-in-top;
animation-duration: 1s;
animation-timing-function: ease;
animation-delay: 0s;
animation-iteration-count: 1;
animation-direction: normal;
animation-fill-mode: none;
}
@keyframes shutter-in-top {
0%{
  -webkit-transform: rotateX(-100deg);
  transform: rotateX(-100deg);
  -webkit-transform-origin: top;
  transform-origin: top;
  opacity: 0;
}
100%{
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: top;
  transform-origin: top;
  opacity: 1;
}

}

/* @keyframes example {
  from {background-color: #065656;}
  to {background-color: snow;}
} */
.navbar .navbar-right{
	margin: 0 0 0 0;
}
.navbar a {
  margin-left: 20px;
  margin-top: 17px;
    text-align: center;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
color: white;
font-size: 20px;
animation-name: anim2;
  animation-duration: 1s;
}
@keyframes anim2 {
	from {color: white;}
	to {color: #065656;}
  }
.navbar ul a:hover {
  background-color: white;
  color:darkcyan;
  border-radius: 20px; 
  padding: 5px;
} 
.navbar ul{
	float: right;
	position: relative;
	padding-right: 60px;
	padding-top: 25px;
}


@media (max-width: 1000px) and (min-width:768px) {
.navbar a{
	font-size: 17px;
	margin-top: 20px;
	margin-left: 5px;
}
.navbar ul{
	padding-right: 10px;
}
}

@media (max-width: 770px) {	
.navbar ul{
	float: none;
	padding-right: 0;
	padding: 0 0 0 0;
	margin: 0 0 0;
}
.navbar{
	height: auto;
}
.navbar a{
	margin-left: 0;
	float: none;
	width: 100%;
	display: block;
    text-align: center;

	}
.navbar a img{
	align-content: center;
}
.header ul a{
    float: none;
    display: block;
    text-align: center;
    padding-bottom: 10px;

  }
 html, body {
	overflow-x: hidden;
  }
 body {
	width:100%;
  }
}

/*header end*/


